body{

   background-color:#ecf8e5;
}
  
* {
    margin:0;
    padding:0;
  

  }
header {
    background-color:#bcc8b6;

    padding: 10px; 
   

   
    
    
  }
  
nav {
    display: flex;
   
    justify-content: space-between;
    

  }
  
.logo img {
    height: 60px;
    box-shadow: 2px 2px 2px  green;
  }
  




 .search button {

    padding: 6px 60px;
    background-color:#fff; 
    object-position:center;
    border:#fff;
    border-radius: 10px;
    cursor: pointer;
    
    
    box-shadow: 2px 2px 2px green;
  }
.search button img {
   display:inline-block;
}
   
  .search button img {
    background-color:#fff;
    background-position: left;



  } 
  .flex{
     display:flex;
     flex-wrap: wrap;
     justify-content: space-between;
  }

.container {
    width: 50%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    float:right;
    height: 100vh;
  }
  
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    grid-gap: 20px;
    
  
  }
  
  .photo-grid img {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 5px green;
    cursor: pointer;
    
    

  }
  
  .btn {
    border-radius:10px;

  }

  .about-us {
    float: left;
    width: 600px;
    padding: 20px;
    background-color: #fbd7db;
    margin:60px;
    height:300px;
    display:flex;
    box-shadow: 6px 6px 6px rgb(235 165 177);
}
.contact-box {
  float: left;
    width: 765px;
    padding: 10px;
    margin-top: -145px;
    margin-left: 6px;
    background-color: blue
}


>>>>>>> 8e7efc149276647e21337f31dde93530b0f4b2a1
